<!DOCTYPE html>
<html>
<head>
    <script src="/templates/app.js"></script>
</head>
<body>
<script>
    const process = {
        env: {
            ["node_env"]: 'production'
        }
    }
</script>
<script id="react" src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.development.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom-server.browser.development.min.js" crossorigin="anonymous"></script>
<script type="module">

    import ReactApp from '{{URL}}';

    window.main = async function() {
        const html = await ReactDOMServer.renderToString(ReactApp());
        if (ReactApp == null) {
            return "Could not load module";
        }
       return (`
       <script src='https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.development.min.js'><\/script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom.development.min.js" crossorigin="anonymous"><\/script>
        <script type="module">
            import ReactApp from '{{URL}}';
            ReactDOM.hydrate(ReactApp(), document.getElementById('app'))
        <\/script>
        <div id="app">${html}</div>`);
    }
</script>

</body>
</html>